#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fruitStore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.fruitList {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.fruit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border: 1px solid black;
  border-radius: 8px;
  width: 8rem;
  height: 8rem;
  background-color: transparent;
}

.fruit-selected {
  background-color: lightblue;
  font-weight: bold;
}

.fruit:hover,
.fruit:focus {
  background-color: lightblue;
}

.error {
  color: red;
}

.result {
  color: green;
}

.welcome {
  max-width: 65ch;
}
